
                <!DOCTYPE html>
                <html>
                <head>
                <title>General Map</title>
                
                </head>
                <body>

                <h1>General Map</h1>
                <br><br>
                <table>
                {% for x in range(2) %}<tr>    {% for y in range(2) %}        {% for i in range(rack_no|length) %}            {% if rack_no[i]['rack_coords'][0] == x and rack_no[i]['rack_coords'][1] == y %}
                                <td>
                                    <a href="/grid/individual/{{ rack_no[i]['rack_id'] }}" target="_blank">{{ rack_no[i]['rack_id'] }}</a>
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
                