
                <!DOCTYPE html>
                <html>
                <head>
                <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
                <title>Actual Map</title>
                
                <style>
                #main {
                    height: 150px;
                    width: 150px;
                    line-height: 0;
                }
                </style>
                
                </head>
                <body>

                <h1>Actual Map</h1>
                <br><br>

                <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

                <button type="button" onclick="doCapture();">Save Map as PNG</button>
                <br><br>
                <div id="main">
                
                    <img class="myButton" id="0" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="1" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="2" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="3" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="4" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="5" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="6" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="7" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="8" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                </div>
                <script>
                    document.querySelector('button').addEventListener('click', function() {
                        html2canvas(document.querySelector('#main'), {
                            onrendered: function(canvas) {
                            // document.body.appendChild(canvas);
                            return Canvas2Image.saveAsPNG(canvas);
                            }
                        });
                    });
                </script>
                </body>
                </html>
                
                <script>
                    var myButton = document.getElementsByClassName("myButton");
                    var i;
                    for (i = 0; i < myButton.length; i++) {
                        var imgList = ["{{ url_for('static', filename='image1.png') }}","{{ url_for('static', filename='image2.png') }}", "{{ url_for('static', filename='image3.png') }}"];

                        var ButtonID = document.getElementsByClassName('myButton')[i].id
                        var myImage = document.getElementById(ButtonID)
                        myImage.onclick = function( e ){
                            var elem = e.target,
                            imageIndex = parseInt(elem.dataset.img,10);
                            if( imageIndex <= (imgList.length -1) ) {
                                elem.src = imgList[imageIndex++];
                                elem.dataset.img = imageIndex;
                            } else {
                                elem.src = imgList[0];
                                elem.dataset.img = 1;
                            }
                        }
                    }
                </script>
                </div>
                </body>
                </html>
                