
                <!DOCTYPE html>
                <html>
                <head>
                <title>Actual Map</title>
                
                <style>
                #main {
                    height: 650px;
                    width: 350px;
                    line-height: 0;
                }
                </style>
                
                </head>
                <body>

                <h1>Actual Map</h1>
                <br><br>
                <div id="main">
                
                {% for coord in all_possible_coordinates %}
                    {% if coord in racks_coords %}
                        <img src="{{ url_for('static', filename='image2.png') }}" style="width:50px;height:50px;float:left;">
                    {% else %}
                        <img src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    {% endif %}
                {% endfor %}
                
                </div>
                </body>
                </html>
                