
                <!DOCTYPE html>
                <html>
                <head>
                <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
                <title>Actual Map</title>
                
                <style>
                #main {
                    height: 650px;
                    width: 300px;
                    line-height: 0;
                }
                </style>
                
                </head>
                <body>

                <h1>Actual Map</h1>
                <br><br>

                <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

                <button type="button" onclick="doCapture();">Save Map as PNG</button>
                <br><br>
                <div id="main">
                
                    <img class="myButton" id="0" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="1" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="2" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="3" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="4" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="5" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="6" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="7" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="8" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="9" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="10" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="11" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="12" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="13" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="14" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="15" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="16" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="17" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="18" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="19" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="20" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="21" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="22" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="23" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="24" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="25" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="26" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="27" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="28" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="29" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="30" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="31" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="32" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="33" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="34" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="35" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="36" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="37" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="38" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="39" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="40" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="41" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="42" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="43" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="44" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="45" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="46" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="47" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="48" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="49" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="50" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="51" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="52" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="53" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="54" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="55" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="56" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="57" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="58" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="59" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="60" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="61" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="62" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="63" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="64" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="65" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="66" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="67" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="68" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="69" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="70" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="71" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="72" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="73" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="74" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="75" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="76" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                    <img class="myButton" id="77" src="{{ url_for('static', filename='image1.png') }}" style="width:50px;height:50px;float:left;">
                    
                </div>
                <script>
                    document.querySelector('button').addEventListener('click', function() {
                        html2canvas(document.querySelector('#main'), {
                            onrendered: function(canvas) {
                            // document.body.appendChild(canvas);
                            return Canvas2Image.saveAsPNG(canvas);
                            }
                        });
                    });
                </script>
                </body>
                </html>
                
                <script>
                    var myButton = document.getElementsByClassName("myButton");
                    var i;
                    for (i = 0; i < myButton.length; i++) {
                        var imgList = ["{{ url_for('static', filename='image1.png') }}","{{ url_for('static', filename='image2.png') }}", "{{ url_for('static', filename='image3.png') }}"];

                        var ButtonID = document.getElementsByClassName('myButton')[i].id
                        var myImage = document.getElementById(ButtonID)
                        myImage.onclick = function( e ){
                            var elem = e.target,
                            imageIndex = parseInt(elem.dataset.img,10);
                            if( imageIndex <= (imgList.length -1) ) {
                                elem.src = imgList[imageIndex++];
                                elem.dataset.img = imageIndex;
                            } else {
                                elem.src = imgList[0];
                                elem.dataset.img = 1;
                            }
                        }
                    }
                </script>
                </div>
                </body>
                </html>
                